<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolPlayLin GUI管理页面</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='mdui.min.css') }}">
    <script src="{{ url_for('static', filename='mdui.min.js') }}"></script>
</head>
<body>
    <h1>暂未实现</h1>
</body>
</html>