<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoolPlayLin GUI管理页面</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/mdui.min.css">
    <script src="/static/mdui.min.js"></script>
</head>
<body>
    <a href="./?page=2" class="mdui-btn mdui-btn-raised mdui-ripple">查看日志</a>
</body>
</html>